/* CSS 스타일을 작성해 주세요. */
.header-container {
  background: #000000;
  height: 88px;
  width: 100%;
  display: flex;

  svg {
    height: 39px;
  }
  div {
    color: white;
  }
  .item-container {
    width: 100%;
    margin: 16px 100px;
    font-size: 18px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .a-container {
      margin-left: 50px;
      align-items: center;
      gap: 4px; /* 화살표와 텍스트 간격 */
      a {
        margin-right: 20px;
        height: 40px;
        width: 112px;
        /* border: 1px solid red; */
      }
    }
    .end-item {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        border-radius: 15px;
        height: 40px;
        width: 68px;
        border: 0 none;
        font-size: 14px;
        flex-flow: row nowrap;
      }
      p {
        font-size: 24px;
      }
      img {
        height: 24px;
      }
      @media (width <= 1024px) {
        p,
        img {
          display: none;
        }
      }
    }
  }
  @media (width <= 1024px) {
    .a-container {
      display: none;
    }
    .hamburger-menu {
      display: block;
      width: 30px;
      height: 20px;
      cursor: pointer;
      position: relative;
      .bar {
        padding: 3px;
        margin-top: 5px;
        margin-left: 10px;
        display: block;
        width: 100%;
        height: 3px;
        background-color: white;
        margin-bottom: 5px;
      }
    }
  }
  @media (width >= 1024px) {
    .hamburger-menu {
      display: none;
    }
  }
}

footer {
  margin-top: 50px;
  background: black;
  height: 704px;

  @media (width >= 850px) {
    height: 823px;
  }
}

footer {
  align-content: center;
  color: white;
  .footer-container {
    max-width: calc(100% - 400px);
    margin: 0 auto;
    height: 100%;
    padding: 100px;

    .logo-icon {
      margin-bottom: 30px;
    }
    .core-value {
      margin-top: 30px;

      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-template-rows: 25% 25% 25% 25%;

      .ft-title {
        padding: 20px;
        font-size: 24px;
        font-weight: 500;
      }
      li {
        padding: 20px;
      }
    }

    .footer-info {
      width: 100%;
      height: 40px;
      font-size: 18px;

      display: grid;

      .info-icon {
        margin-left: 90px;
        height: 16px;
      }
      .info-icon-an {
        margin-left: 110px;
      }

      .locale {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .info-img {
        display: flex;
        height: 40px;
        width: 135px;

        margin-left: auto;
      }

      grid-template-columns: auto auto auto auto 6fr 1fr;
      align-items: center;

      @media (width >= 850px) {
        grid-template-columns: repeat(5, auto); /* 앞쪽 아이콘 4개는 그대로 */

        .info-img {
          grid-column: 1 / -1; /* 전체 열을 차지하도록 */
          justify-self: start; /* 왼쪽 정렬, 필요시 end로 오른쪽 정렬 */
        }
      }
    }

    .copy-right {
      margin-top: 30px;
      display: grid;
      grid-template-columns: auto 1fr auto auto;
      column-gap: 20px;
      p {
        color: #a6a6a6;
        margin-left: 300px;
        width: 600px;
      }
      span {
        color: #6b6b6b;
      }
    }
    @media (width >= 600px) {
      .copy-right {
        grid-template-columns: 1fr;
      }
    }
  }
}
