/* CSS 스타일을 작성해 주세요. */
:root {
  /* color */
  --primary-color: #276ef1;
  --secondary-color: #ffffff;
  --tertiary-color: #f5f5f5;
  --accent-color: #276ef1;
  --negative-color: #e11900;
  --warning-color: #ffc043;
  --positive-color: #048848;
  --textPrimary-color: #000000;
  --textSecondary-color: #6b6b6b;
  --textTertiary-color: #a6a6a6;
  --border-color: #898989;
  --borderBackground-color: rgba(137, 137, 137, 0.3);
  --positiveBackground-color: rgba(4, 136, 72, 0.1);
  --negativeBackground-color: rgba(225, 25, 0, 0.1);

  /* font-size */
  --text-x-x-x-l-size: 50px;
  --text-x-x-l-size: 38px;
  --text-x-l-size: 28px;
  --text-l-size: 20px;
  --text-m-size: 16px;
  --text-s-size: 12px;

  /* viewport size */
  --mobile-size: 320px;
  --tablet-size: 600x;
  --desktop-size: 1136px;
}

/* 반응형 */
@media (max-width: 800px) {
  :root {
    --text-x-x-x-l-size: 38px;
    --text-x-x-l-size: 28px;
    --text-x-l-size: 20px;
  }
}

@media (max-width: 500px) {
  :root {
    --text-x-x-x-l-size: 28px;
    --text-x-x-l-size: 20px;
    --text-x-l-size: 16px;
  }
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  padding: 64px;
  margin: 0px;
  color: var(--textPrimary-color);
}

h2 {
  font-size: var(--text-x-x-l-size);
  margin-bottom: 1rem;
}

.qna-item {
  border-bottom: 1px solid #898989;
  padding: 0.5rem 0;
}

.qna-item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.qna-item h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  inline-size: auto;
  block-size: 56px;
  align-content: center;
}

.qna-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
}

.qna-toggle svg {
  width: 20px;
  height: 20px;
}

/* 기본: + 보이고 - 숨김 */
.qna-toggle .icon-plus {
  display: inline-block;
}
.qna-toggle .icon-minus {
  display: none;
}

/* 열리면 반대로 */
.qna-item.open .qna-toggle .icon-plus {
  display: none;
}
.qna-item.open .qna-toggle .icon-minus {
  display: inline-block;
}

/* 답변 */
.answer {
  display: none;
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #444;
}

.qna-item.open .answer {
  display: block;
}
