body {
  font-family: 'Pretendard Variable', sans-serif;
}

/* header ******************************************************************/
.header-container {
  background: #000000;
  height: 88px;
  width: 100%;
  display: flex;

  svg {
    height: 39px;
  }
  div {
    color: white;
  }
  .item-container {
    width: 100%;
    margin: 16px 100px;
    font-size: 18px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .a-container {
      margin-left: 50px;
      align-items: center;
      gap: 4px; /* 화살표와 텍스트 간격 */
      a {
        margin-right: 20px;
        height: 40px;
        width: 112px;
        /* border: 1px solid red; */
      }
    }
    .end-item {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        border-radius: 15px;
        height: 40px;
        width: 68px;
        border: 0 none;
        font-size: 14px;
        flex-flow: row nowrap;
      }
      p {
        font-size: 24px;
      }
      img {
        height: 24px;
      }
      @media (width <= 1024px) {
        p,
        img {
          display: none;
        }
      }
    }
  }
  @media (width <= 1024px) {
    .a-container {
      display: none;
    }
    .hamburger-menu {
      display: block;
      width: 30px;
      height: 20px;
      cursor: pointer;
      position: relative;
      .bar {
        padding: 3px;
        margin-top: 5px;
        margin-left: 10px;
        display: block;
        width: 100%;
        height: 3px;
        background-color: white;
        margin-bottom: 5px;
      }
    }
  }
  @media (width >= 1024px) {
    .hamburger-menu {
      display: none;
    }
  }
}
/* header ******************************************************************/

/* 상단 배너 */
.banner {
  background-image: url('./assets/images/UberTaxi_desktop.png');
  background-size: contain; /* 컨테이너 크기에 맞게 꽉 채움 */
  background-repeat: no-repeat; /* 반복 방지 */
  block-size: 399px;
  inline-size: 100%;
  background-size: auto; /* 이미지 크기 그대로 유지 */
}

.banner p {
  color: var(--primary);
}

.banner-text {
  margin-left: 24px;
}

.banner-text h1 {
  font-size: 50.52px;
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 16px;
}

.banner-text p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.btn-download {
  background: var(--primary);
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

/* 하단 카드 섹션 */
.info {
  display: flex;
  padding: 0px 24px;
  background: var(--secondary);
  gap: 30px;
}

.card h3 {
  font-size: 21.3px;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card p {
  font-size: 0.95rem;
  color: var(--contentPrimary);
  margin-top: 16px;
  margin-bottom: 16px;
}

.card a {
  font-size: 0.9rem;
  color: var(--contentPrimary);
  font-weight: bold;
  text-decoration: none;
  padding: 5px 3px;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.8);
}

@media (width <=900px) {
  .banner {
    background-image: url('./assets/images/UberTaxi_tablet.png');
    block-size: 359px;
  }
  .banner-text h1 {
    font-size: 37.9px;
  }
}

@media (width <=500px) {
  .banner {
    background-image: url('./assets/images/UberTaxi_phone.png');
    block-size: 256px;
  }

  .banner-text h1 {
    font-size: 28.4px;
  }
  .info {
    display: flex;
    flex-direction: column; /* 세로 배치 */
    flex-grow: 1;
    gap: 30px;
  }
  .card {
    flex-grow: 1;
  }
}

/* download */
.ut-container {
  width: 100%;
  max-width: 1680px;
  padding: 64px;
  text-align: center;
  padding-left: calc(20px + 40px);
}

.ut-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--textPrimary-color);
  margin-bottom: 28px;
  white-space: nowrap;
  padding-left: 20px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
  padding-left: 20px;
}

.ut-card {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: var(--textPrimary-color);
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  min-width: 250px;
  display: flex;
  justify-content: center;
}

.ut-logo img {
  width: 80px;
  height: auto;
  display: block;
}

.card-text {
  font-size: 1rem;
  font-weight: 500;
  flex-grow: 1;
  margin: 0 20px;
  text-align: center;
  padding: 9px;
}

.arrow-icon {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--primary-color);
  flex-shrink: 0;
}

/* ------------------ Tablet Layout ------------------ */
@media (min-width: 850px) and (max-width: 1679px) {
  .card-wrapper {
    gap: 15px;
  }

  .ut-card {
    padding: 25px 35px;
  }

  .card-content {
    justify-content: space-between;
  }

  .ut-logo img {
    width: 70px;
  }

  .card-text {
    font-size: 1rem;
    margin: 0 15px;
  }

  .arrow-icon {
    font-size: 2.2rem;
  }
}

/* ------------------ Mobile Layout ------------------ */
@media (max-width: 849px) {
  .ut-title {
    font-size: 1.2rem;
  }

  .card-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .ut-card {
    width: 90%;
    padding: 20px;
  }

  .card-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .ut-logo img {
    width: 120px;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 1.1rem;
    margin: 10px 0;
  }

  .arrow-icon {
    font-size: 2rem;
    margin-top: 10px;
  }
}

h2 {
  font-size: var(--text-x-x-l-size);
  margin-bottom: 1rem;
}

.qna-item {
  border-bottom: 1px solid #898989;
  padding: 0.5rem 0;
}

.qna-item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.qna-item h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  inline-size: auto;
  block-size: 56px;
  align-content: center;
}

.qna-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
}

.qna-toggle svg {
  width: 20px;
  height: 20px;
}

/* 기본: + 보이고 - 숨김 */
.qna-toggle .icon-plus {
  display: inline-block;
}
.qna-toggle .icon-minus {
  display: none;
}

/* 열리면 반대로 */
.qna-item.open .qna-toggle .icon-plus {
  display: none;
}
.qna-item.open .qna-toggle .icon-minus {
  display: inline-block;
}

/* 답변 */
.answer {
  display: none;
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #444;
}

.qna-item.open .answer {
  display: block;
}

/* apply */
.inner-wrapper {
  padding: 40px 24px;

  @media (width >= 600px) {
    padding: 56px 32px;
  }

  @media (width >= 1136px) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    inline-size: 1280px;
    max-inline-size: 100%;
    margin: 0 auto;
    padding: 64px;
  }
}

.section-title,
form {
  @media (width >= 600px) {
  }

  @media (width >= 1136px) {
    inline-size: 50%;
  }
}

.section-title {
  margin-block-end: 36px;
  color: var(--textPrimary-color);
  font-size: var(--text-x-l-size);

  @media (width >= 600px) {
    font-size: var(--text-x-x-l-size);
  }

  @media (width >= 1136px) {
    margin-block-end: 0;
    font-size: var(--text-x-x-x-l-size);
  }
}

.form-flex {
  --gap-size: 16px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: var(--gap-size);

  .input,
  .select {
    inline-size: 100%;
  }

  a {
    padding: 4px;
    color: var(--textPrimary-color);
    font-size: var(--text-m-size);
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid #a6a6a6;
  }

  .form-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    inline-size: 100%;
    margin-block-end: 20px;

    h3 {
      color: var(--textPrimary-color);
      font-size: var(--text-l-size);

      @media (width >= 600px) {
        font-size: var(--text-x-x-l-size);
      }

      @media (width >= 1136px) {
        margin-block-end: 0;
        font-size: var(--text-x-x-x-l-size);
      }
    }

    .more-view {
      margin-left: auto;
    }
  }

  .input {
    position: relative;

    &.half {
      inline-size: calc((100% - var(--gap-size)) / 2);
    }

    input {
      width: 100%;
      padding: 12px;
      color: var(--textSecondary-color);
      font-size: var(--text-m-size);
      line-height: 22px;
      background: var(--borderBackground-color);
      border: 1px solid var(--border-color);

      &.driverPassword {
        padding-right: 46px;
      }

      &:user-valid {
        background: var(--positiveBackground-color);
        border-color: transparent;
        outline: 2px solid var(--positive-color);
      }

      &:user-invalid {
        background: var(--negativeBackground-color);
        border-color: transparent;
        outline: 2px solid var(--negative-color);

        & ~ .error-message {
          display: block;
        }

        & ~ .password-reset-button {
          display: block;
        }
      }

      &:user-invalid:placeholder-shown {
        background: var(--borderBackground-color);
        border: 1px solid var(--border-color);
        outline: none;

        & ~ .error-message {
          display: none;
        }

        & ~ .password-reset-button {
          display: none;
        }
      }
    }

    .error-message {
      display: none;
      margin-block-start: 5px;
      color: var(--negative-color);
      font-size: var(--text-s-size);
    }

    .password-reset-button {
      display: none;
      position: absolute;
      inset-inline-end: 1px;
      inset-block-start: 1px;
      padding: 11px;
      background: transparent;
      border: none;

      svg {
        display: block;
      }
    }
  }

  .select {
    select {
      inline-size: 100%;
      block-size: 50px;
      padding: 0 12px;
      color: var(--textPrimary-color);
      font-size: var(--text-m-size);
      font-weight: 600;
      background: var(--borderBackground-color);
      border: 1px solid var(--border-color);
      appearance: none;
    }
  }

  .notice-message {
    margin-block: 20px;
    color: var(--textPrimary-color);
    font-size: var(--text-s-size);
    font-weight: 500;
    line-height: 1.6;
  }

  .submit-button {
    margin-inline-end: 20px;
    padding: 20px 24px;
    color: var(--secondary-color);
    font-size: var(--text-m-size);
    font-weight: 500;
    line-height: var(--text-m-size);
    background: var(--primary-color);
    border: none;
  }

  .login-message {
    color: var(--textPrimary-color);
    font-size: var(--text-s-size);
    font-weight: 500;
  }
}

/* footer ******************************************************************/

footer {
  margin-top: 50px;
  background: black;
  height: 704px;

  @media (width >= 850px) {
    height: 823px;
  }
}

footer {
  align-content: center;
  color: white;
  .footer-container {
    max-width: calc(100% - 400px);
    margin: 0 auto;
    height: 100%;
    padding: 100px;

    .logo-icon {
      margin-bottom: 30px;
    }
    .core-value {
      margin-top: 30px;

      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-template-rows: 25% 25% 25% 25%;

      .ft-title {
        padding: 20px;
        font-size: 24px;
        font-weight: 500;
      }
      li {
        padding: 20px;
      }
    }

    .footer-info {
      width: 100%;
      height: 40px;
      font-size: 18px;

      display: grid;

      .info-icon {
        margin-left: 90px;
        height: 16px;
      }
      .info-icon-an {
        margin-left: 110px;
      }

      .locale {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .info-img {
        display: flex;
        height: 40px;
        width: 135px;

        margin-left: auto;
      }

      grid-template-columns: auto auto auto auto 6fr 1fr;
      align-items: center;

      @media (width >= 850px) {
        grid-template-columns: repeat(5, auto); /* 앞쪽 아이콘 4개는 그대로 */

        .info-img {
          grid-column: 1 / -1; /* 전체 열을 차지하도록 */
          justify-self: start; /* 왼쪽 정렬, 필요시 end로 오른쪽 정렬 */
        }
      }
    }

    .copy-right {
      margin-top: 30px;
      display: grid;
      grid-template-columns: auto 1fr auto auto;
      column-gap: 20px;
      p {
        color: #a6a6a6;
        margin-left: 300px;
        width: 600px;
      }
      span {
        color: #6b6b6b;
      }
    }
    @media (width >= 600px) {
      .copy-right {
        grid-template-columns: 1fr;
      }
    }
  }
}
/* footer***************************************************************** */
